<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="albums">
            <h2><span>Albums</span> {{ albums.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ albums.title }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ albums.type }}</span>
                </dd>
                <dt><span>Singerr</span></dt>
                <dd>
                    <div *ngIf="albums.singerrId">
                        <a [routerLink]="['/singer', albums.singerrId, 'view']">{{ albums.singerrFname }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/albums', albums.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
